@import "tailwindcss";

:root {
  margin: 0px;
  padding: 0px;
  --background: #ffffff;
  --foreground: #f5eeee;
  font-family: sans-serif;
}
.cart{
display: none;
transition: 1s;
}
.main:hover .cart{
  display: block;
}
.slick-slider{
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.slick-slider .slick-list {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}